body{
	color: #ebdbb2;
	background: #282828;
	font-family: 'JetBrains Mono';
}

H1 {
	color: #d65d0e;
	font-size: 40px; 
	text-align: center;
}

H2 {
	color: #d79921;
	font-size: 25px;
}

H3 {
	text-align: center;
	font-size: 23px;
}

I {
	color: #689d6a;
}

P {
	font-size: 18px;
}

LI {
	font-size: 18px;
}

IMG {
	display: block;
	margin: 0 auto;
}
