/* general propreties */
head{
	font-family: 'Amiri';
}

body{
	color: #ebdbb2;
	background: #282828;
	font-family: 'Amiri';
	width: 100vw;
	height: 100vh;
	margin: 0rem;
}

h1{
	position: relative;
	font-size: 35px;
}

p{
	text-align: center;
	font-size: 20px;
}

li{
	list-style: none;
	font-size: 22px;
}

/* Formatting big page titles */
.pres{
	text-align: center;
	font-size: 40px;
}

/* Making a simple logo for the website */
.logo{
	cursor: default;
}

/* Formatting the navigation bar to be horizontal */
.bar{
	text-align: right;
	width: 95%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Aligning the navigation bar items horizonatally */
.bar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
	font-family: "Amiri";
}

/* formatting the anchor tags for the navigatiob bar */
.bar ul li a{
	text-decoration: none;
	font-size: 20px;
	color: #ebdbb2;
}

/* Animating the list items when hovering */
.bar ul li a{
	transition: color 0.4s;
}

.bar ul li a:hover{
	color: #458588;
}

/* Animating the dropdown menu for Social Media */
ul li ul.dropdown {
	width: 100%;
	position: absolute;
	z-index: 999;
	display: block;
	opacity: 0;
	visibility: hidden;
	transform: translateX(-1);
	transition: 0.6s ease-in-out;
}

ul li:hover ul.dropdown {
	opacity: 1;
	visibility: visible;
	transform: translateX(1);
}

/* centering images for the preview section */
.images{
	text-align: center;
}

/*  */
.subject ul li{
	text-align: right;
}

/*  */
.adjz {
  text-align: center;
}

/*  */
ul.adj {
  display: inline-block;
  text-align: center;
  font-size: 19px;
}

/* Animating paragraph links */
.SoMeLink{
	text-decoration: none;
	color: #458588;
	transition: color 0.6s;
}

.SoMeLink:hover{
	color: #c6e1e2;
}
