head{
	font-family: 'Amiri';
}

body{
	color: #ebdbb2;
	background: #222;
	font-family: 'Amiri';
}

img{
	width: 430px;
	margin: 5px;
}

.images{
	text-align: center;
}

h1{
	position: relative;
	font-size: 35px;
}

p{
	text-align: center;
	font-size: 20px;
}

li{
	list-style: none;
}

.form-sa{
	height: 95%;
}

.pres{
	text-align: center;
	font-size: 40px;
}

.logo{
	cursor: pointer;
}

.bar{
	text-align: right;
	width: 95%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.bar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
	font-family: "Amiri";
}

.bar ul li a{
	text-decoration: none;
	font-size: 20px;
	color: #ebdbb2;
}

.bar ul li::after{
	content: '';
	height: 2px;
	width: 0;
	background: #458588;
	position: absolute;
	right: 0;
	bottom: 0;
	transition: 0.5s;
}

.bar ul li:hover::after{
	width: 100%;
}

.bar h1::after{
	content: '';
	height: 2px;
	width: 0;
	background: #458588;
	position: absolute;
	right: 0;
	bottom: 0;
	transition: 0.5s;
}

.bar h1:hover::after{
	width: 100%;
}

.subject ul li{
	text-align: right;
}

.adjz {
  text-align: center;
}

ul.adj {
  display: inline-block;
  text-align: center;
  font-size: 19px;
}

ul li ul.dropdown li {
	display: block;
}

ul li ul.dropdown {
	width: 100%;
	position: absolute;
	z-index: 999;
	display: none;
}

ul li:hover ul.dropdown {
	display: block;
}
